:root {
    box-sizing: border-box;

    --theme-day-background: #fff;
    --theme-day-font-color: #232323;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {    
    background-color: #eee;
    box-sizing: inherit;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

.app {
    background-color: var(--theme-day-background);
    color: var(--theme-day-font-color);
    max-width: 640px;
    margin: auto;
    min-height: 100%;
}

.chart {
    padding: 20px;
}

.chart__title {    
    padding: 0;
    margin: 10px 0;
}

.chart__content {
    margin: 0;
    padding: 0;
    height: 500px;
    width: 100%;
    position: relative;
}

.chart__content svg {
    width: 100%;
    height: 100%;
    transform: scale(1, -1);
}

.chart__map {
    position: relative;
    height: 100px;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;    
    z-index: 0;
}

.chart__map__canvas {
    display: block;    
    z-index: 0;
    width: 100%;
    height: 100%;
    transform: scale(1, -1);
}

.chart__map__window {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    border: 2px solid hsla(200, 43%, 95%, 0.7);
    border-left-width: 0;
    border-right-width: 0;
}

.chart__map__window__border-left {
    position: absolute;
    top: 0;    
    bottom: 0;
    width: 10px;
    left: 0;

    background-color: hsla(200, 43%, 95%, 0.7);
}

.chart__map__window__border-right {
    position: absolute;
    top: 0;    
    bottom: 0;
    width: 10px;
    right: 0;

    background-color: hsla(200, 43%, 97%, 0.7);
}

.chart__map__overlay__left {
    z-index: 1;
    background-color: hsla(200, 43%, 97%);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 100%;
}

.chart__map__overlay__right {
    z-index: 1;
    background-color: hsla(200, 43%, 97%);    
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 25%;
    bottom: 0;
    right: 0;
}

.chart__legend {
    padding: 0;
    margin: 10px 0;
}

.chart__legend__item {
    display: inline-flex;
    align-items: center;
    border: 1px solid #e6ecf0;
    color: #43484b;
    padding: 8px 16px 8px 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.chart__legend__item__indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #aaa;
}

.chart__legend__item__text {
    display: inline-block;    
}

.chart-line {    
    stroke-width: 1pt;
    stroke-linecap: round;
    fill: none;    
}

.scales {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.scale-y {
    stroke: #f2f4f5;
    stroke-width: 1pt;
    fill: none;
}

.scale-y__text {
    font: normal 14px Segoe UI;
    fill: #96a2aa;
    stroke: none;
}