.theme-day {    

    .chart {
        color: #232323;
        background-color: ffffff;
    }

    .scale {
        background-color: #f2f4f5;
        color: #96a2aa;
    }

    .cursor {
        background-color: #dfe6eb;        
    }

    .legend {
        border: 1px solid #e6ecf0;
        color: #43484b;
    }

    .char-map {
        background-color: #f5f9fb;
    }
}